*, body{
    margin:0;
    padding:0;
}

html, body {
    height: 100%;
    font-family: 'EB Garamond', serif;
}

#root {
    height: 100%;
}

#home-container {
    height: 100%;
    display: flex;
}

/* DASHBOARD */
#dashboard-h {
    /* font-family: 'Libre Franklin', sans-serif; */
    /* font-family: 'Averia Serif Libre', cursive; */
    /* font-weight: 800; */
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: right;
    display: inline-block;
    font-size: 90px;
    margin: 0 0 500px 0;
}

#dashboard-h2 {
    /* font-family: 'Libre Franklin', sans-serif; */
    /* font-family: 'Averia Serif Libre', cursive; */
    writing-mode: vertical-rl;
    /* transform: rotate(180deg); */
    text-align: right;
    display: inline-block;
    font-size: 120px;
    margin: 0px -20px 50px -20px;
}

/* #dashboard {
    display: inline-block;
} */

/* DOC LISTING */
.doc-list {
    z-index: 1;
    position:relative;
}
.doc-listing > a{
    
    color: black;
    cursor: pointer;
    padding: 3px; 
    text-decoration: none;
}

.doc-listing {
    margin: 10px 0;
}

div.doc-listing:hover {
    border-bottom: 1px black solid;
}

/* NOTES */
.note {
    border: #e5e5e5 1px solid;
    padding: 2px 10px;
    border-radius: 25px;
    /* display: inline-block; */
    position: absolute;
    cursor: pointer;
}

.reply {
    padding: 2px 10px;
    border-radius: 25px;
    cursor: pointer;
}

#wrapper {
    margin-left: auto !important;
    margin-right: auto !important;
    width: 720px !important;
    min-width: 720px !important;
}

.top-image {
    max-width: 720px;
}

#add-note {
    position: fixed;
    top: 50%;
    transform: translate(-110%, -50%);
}

#joinMsg {
    position: fixed;
    top: 10%;
    left: 50%;
}

.color-selector{
    border-radius: 50px;
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 2px;
    cursor: pointer;
}

.notification {
    position: fixed;
    top: 10%;
    left: 75%;
    width: 20%;
    clear: both;
}

/* Search */
.search-results {
    position: absolute;
    width: 95%;
    background-color: bisque;
    border-bottom: bisque solid 1px;
    border-left: bisque solid 1px;
    border-right: bisque solid 1px;
    z-index: 10;
}
    

/* D3 */
.node {
    cursor: pointer;
  }
  
  .node:hover {
    stroke: #000;
    stroke-width: 1.5px;
  }
  
  .node--leaf {
    fill: white;
  }
  
  .label {
    font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-anchor: middle;
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
  }
  
  .label,
  .node--root,
  .node--leaf {
    pointer-events: none;
  }
