*, body{
    margin:0;
    padding:0;
}

html, body {
    height: 100%;
    font-family: 'Archivo', sans-serif;
    background-color: #262626;
    color: whitesmoke;
}

#root {
    height: 100%;
}

a {
    color: #c6b497;
}

.btn:focus {
    box-shadow: none;
}

.display-none {
    display: none;
}

/* HOME */

#JOT {
    text-decoration: underline;
}

#home-link {
    color: #596a72;
    font-size: 24px;
    font-weight: 700;
}

#home-icon {
    font-size: 72px;
    margin-left: -50px;
    margin-top: 18px;
    vertical-align: bottom;
    background-color: #202020;
    /* transform: scale(1.3); */

    background-image: linear-gradient(to top right, #202020, #1b1b1b, #151515, #0e0f0f, #060505);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 

}

#home-circle {
    width: 700px;
    height: 700px;
    border-radius: 50%;
    background: linear-gradient(135deg, #cedce7 0%,#596a72 100%);
    /* background: linear-gradient(to right bottom, #a72693, #87228b, #671e81, #471a75, #241667); */
    position: relative;
    z-index: 3;
    margin-top: -600px;
    margin-left: 600px;
}

#login-circle {
    width: 700px;
    height: 700px;
    border-radius: 50%;
    background: linear-gradient(135deg, #cedce7 0%,#596a72 100%);
    position: relative;
    z-index: 10;
    margin-top: -600px;
    margin-left: 600px;
}


#welcome-cont {
    margin-top: 250px;
}

.welcome {
    font-size: 90px;
    font-weight: 700;
    color: whitesmoke;
    margin: auto;
    text-align: center;
    position: relative;
    z-index: 8;
}

.stroke {
    color: #262626;
    /* -webkit-text-stroke: 0.5px whitesmoke; */
    text-shadow:
		-1px -1px 0 whitesmoke,
		1px -1px 0 whitesmoke,
		-1px 1px 0 whitesmoke,
        1px 1px 0 whitesmoke;
    position: relative;
    z-index: 0;
}

.slash {
    margin-top: -550px;
    margin-left: 950px;
    font-size: 300px;
    font-weight: 40;
    z-index: 7;
    position: relative;
    top: -10px;
    transform: scale(0.75, 3);
    font-style: italic;
}

#home-menu {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    color: lightslategrey;
    font-family: 'PT Mono', monospace;
    margin-top: -300px;
    font-size: 60px;
    font-weight: 400;
    cursor: pointer;
    position: relative;
    z-index: 10;
}

.login-signup-btns {
    cursor: pointer;
}

.login-signup-cont {
    width: 450px;
    position: relative;
    z-index: 11;
    margin-top: -550px;
    margin-left: 670px;
}

/* DASHBOARD */
#dashboard-h {
    /* font-family: 'Libre Franklin', sans-serif; */
    /* font-family: 'Averia Serif Libre', cursive; */
    /* font-weight: 800; */
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: right;
    display: inline-block;
    font-size: 90px;
    font-weight: 700;
    color: whitesmoke;
    margin: 0 0 500px 0;
}

#explorer {
    margin: auto;
    text-align: center;
    position: relative;
    z-index: 4;
}

#explorer-h {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 100px;
  font-weight: 700;
  margin-top: -900px;
  /* color: lightblue; */

  background-color: #202020;
  /* background-image: linear-gradient(45deg, #f3ec78, #af4261); */
  /* background-image: linear-gradient(to right bottom, #cedce7, #afbec8, #91a1ab, #75858e, #596a72); */
  /* background-image: linear-gradient(to top, #3c4145, #32383b, #292e31, #202628, #171d1f); */
  background-image: linear-gradient(to top, #202020, #1b1b1b, #151515, #0e0f0f, #060505);
  
  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  

}

#expand-cont {
    float: right;
    display: inline-block;
    margin-right: -230px;
    margin-top: 100px;
}
#expand-btn {
    margin-right: -185px;
    margin-top: 225px;
    padding-left: -100px;
    transform: scale(1.5,1.5);
    float: right;
    text-align: right;
    display: inline-block;
    font-weight: 800;
    font-size: 500px;
    position: relative;
    z-index: 0;
    overflow: hidden;

    background-color: #202020;
    background-image: linear-gradient(to top, #3c4145, #32383b, #292e31, #202628, #171d1f);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


#dashboard-h2 {
    /* font-family: 'Libre Franklin', sans-serif; */
    /* font-family: 'Averia Serif Libre', cursive; */
    writing-mode: vertical-rl;
    /* transform: rotate(180deg); */
    text-align: right;
    display: inline-block;
    font-size: 120px;
    margin: 0px -20px 50px -20px;
}

/* DASHBOARD MENU */
#hidden-menu-btn {
    width: 100px;
    height: 500px;
    writing-mode: vertical-rl;
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 10;
    font-size: 90px;
    color: #3c4145;
    opacity: 0;
}

#hidden-menu-btn:link {
    text-decoration:none;
}

/* visited link */
#hidden-menu-btn:visited {
    text-decoration:none;
}

/* mouse over link */
#hidden-menu-btn:hover {
    text-decoration:none;
    color: #3c4145;
}

/* selected link */
#hidden-menu-btn:active {
    text-decoration:none;
}


#menu {
    min-height: 900px;
    margin-top: 500px;
    margin-left: 125px;
    position: relative;
    z-index: 14;
}

#menu-selections {
    background-color: #1B1A1B;
    width: 100%;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}


/* PROFILE */
#profile-header {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: right;
    display: inline-block;
    font-size: 90px;
    font-weight: 700;
    color: whitesmoke;
    /* margin: 0 0 500px 0; */
}

.email-h {
    font-weight: 100;
}

.num-likes-cont {
    background-color: #241667;
    text-align: center;
}

.num-likes {
    font-size: 48px;
    font-style: bold;
}

.num-likes-f {
    font-family: "PT Mono", monospace;
    font-size: 24px;
}

.top-note-cont {
    margin-top: 100px;
}

.top-note-h {
    background-color: #EAE7AF;
    width: 125px;
    color: #262626;
    font-weight: 900;
    font-size: 24px;
    padding: 5px;
    padding-left: 10px;
    margin-left: 25px;
    margin-bottom: -5px;
}

.top-note {
    font-family: "PT Mono", monospace;
    color: #EAE7AF;
    font-size: 20px;
    padding-right: 5px;
}

.top-note-body {
    background-color: #241667;
}

.top-note-img-cropper {
    width: 300px;
    height: 300px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 350px;
}

.top-note-overlay {
    position: relative;
    top: -10px;
    z-index: 3;
    margin-top: -200px;
}


.image-cropper {
    width: 500px;
    height: 500px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin-left: -100px;
}

.top-img {
    display: inline;
    margin: 0 auto;
    margin-left: -25%;
    height: 100%;
    width: auto;
    position: absolute;
    z-index: 2;
}

.top-article-row {
    margin-top: 50px;
}

.article-overlay {
    position: relative;
    top: -10px;
    z-index: 3;
    margin-top: -300px;
}

.top-article {
    background-color: #241667;
    /* display: flex; */
    text-align: right;  
}

.top-article-h {
    background-color: #EAE7AF;
    width: 40%;
    color: #262626;
    font-weight: 900;
    font-size: 24px;
    padding: 5px;
    padding-left: 20px;
    margin-left: 25px;
    margin-bottom: -5px;
}

.top-title {
    font-family: "PT Mono", monospace;
    color: #EAE7AF;
    font-size: 24px;
    padding-right: 5px;
    
}

.stat {
    font-size: 16px;
    border-bottom: #a72693 3px solid;
    width: 60%;
    float: right;
    margin-bottom: 5px;
    color: #EAE7AF;
    padding-right: 5px;
    
}

.top-number {
    font-style: bold;
    font-size: 36px;
    color: #a72693;
    padding-right: 5px;
    
}

/* FRIENDS */
.count {
    font-style: bold;
    font-size: 20px;
    color: #a72693;
    margin-left: 10px;
    /* border: 1px whitesmoke solid;
    border-radius: 25%;
    padding: 3px;
    margin: 5px; */
    /* text-align: center; */
}

.friend-btn {
    display: inline-block;
    padding-bottom: 1px;
    font-size: 16px !important;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid whitesmoke;
    margin-bottom: 10px;
}

.friend-status {
    display: inline-block;
    padding-bottom: 1px;
    font-size: 16px !important;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid whitesmoke;
    margin-bottom: 10px;
    margin-left: 16px;
}




/* SEARCH */
#search-bar {
    display: inline-block;
    width: 200px !important;
    margin-right: 10px;
}

.user-search {
    width: 200px !important;
}

.search-i {
    vertical-align: bottom;
    cursor: pointer;
}

/* TAGS */

#tag-lib-base {
   
}

.tag {
    margin-right: 4px;
}

/* DOC LISTING */
.doc-list {
    z-index: 1;
    position:relative;
}

#doc-lib-h {
    font-family: "PT Mono", monospace;
    margin-left: 8px;
    margin-top: 8px;
    margin-bottom: 12px;
}

#follow-lib-h {
    font-family: "PT Mono", monospace;
    margin-left: 8px;
}

.doc-listing > a{
    
    color: whitesmoke;
    cursor: pointer;
    padding: 3px; 
    text-decoration: none;
}

.doc-listing {
    /* margin: 10px 0; */
    height: 58px;
    border-top: 1px solid #363737;
    padding: 4px;
    /* border-bottom: 1px solid black; */
}

div.doc-listing:hover {
    background-color: #363737;
}

#doc-timestamp {
    font-size: 14px;
    font-style: italic;
}

/* ADD FOLLOWERS */

#add-followers {
    display: inline-block;
    vertical-align: bottom;
}

.add-follower-i {
    margin-left: 10px;
    /* vertical-align: bottom; */
    font-size: 12px;
}

#add-follower-btn {
    margin-top: 16px;
    margin-left: auto;
}

.follower {
    display: inline-block;
    padding-bottom: 1px;
    font-size: 12px !important;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid whitesmoke;
}

/* ARTICLE INVITES */

#invite-cont {
    background-color: #202020;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
}

#invite-title{
    font-family: "PT Mono", monospace;
}

#inviter {
    font-weight: 700;
}

#invite-timestamp {
    font-weight: 100;
    font-style: italic;
    font-size: 14px;
}

#invite-msg {
    font-size: 18px;
    color: #a72693;
}

.invite-btn {
    display: inline-block;
    padding-bottom: 1px;
    font-size: 12px !important;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid whitesmoke;
}

/* ARTICLE */

.top-image {
    max-width: 720px;
    margin-top: 8px;
    margin-bottom: 16px;
}


/* TEXT INPUTS */

input[type="text"],
select.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid whitesmoke;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  color: whitesmoke;
  margin-bottom: 5px;
  outline: none;
  outline-style: none;
  padding: 3px 10px;
}

input[type="text"]:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

#add-note-input::-webkit-input-placeholder { 
    color: whitesmoke;
}

/* DOC */

#doc-body {
    margin-bottom: 75px;
}

/* NOTES */
.note {
    border: whitesmoke 2px solid;
    padding: 2px 10px;
    border-radius: 25px;
    position: absolute;
    cursor: pointer;
}

#note-name {
    font-size: 14px;
    font-weight: 900;
}

#timestamp {
    font-size: 10px;
}

#note-body {
    font-family: 'PT Mono', monospace;
}

.note:hover {
    width: 200px;
    padding: 10px 14px;
}

.reply {
    padding: 10px 10px;
    border-radius: 25px;
    cursor: pointer;
    border: 1px solid whitesmoke;
}

#wrapper {
    margin-left: auto !important;
    margin-right: auto !important;
    width: 720px !important;
    min-width: 720px !important;
}

#add-note {
    position: fixed;
    top: 50%;
    transform: translate(-110%, -50%);
}


#joinMsg {
    position: fixed;
    top: 10%;
    left: 50%;
}

.color-selector{
    border-radius: 50px;
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 2px;
    cursor: pointer;
}

.notification {
    position: fixed;
    z-index: 16;
    top: 10%;
    left: 75%;
    width: 20%;
    clear: both;
}

#reply-btn {
    display: inline-block;
    
}

/* LIKE */

#like {
    /* display: inline-block; */
    float: right;
}

/* Search */
.search-results {
    position: absolute;
    width: 95%;
    z-index: 10;
    background-color: #262626;
}

.search-result {
    /* margin: 8px 0px; */
    height: 58px;
    border-top: 1px solid #363737;
    padding: 4px;
}

div.search-result:hover {
    background-color: #363737;
    cursor: pointer;
}

.search-author {
    font-style: italic;
    font-size: 14px;
}

.highlight {
    color: #a05344;
}

.user-listing {
    /* margin: 10px 0; */
    height: 58px;
    border-top: 1px solid #363737;
    padding: 4px;
    /* border-bottom: 1px solid black; */
}

div.user-listing:hover {
    background-color: #363737;
    cursor: pointer;
}

#search-name {
    font-family: "PT Mono", monospace;
    font-size: 16px;
}

#search-email {
    font-size: 14px;
}


    

/* D3 */
.node {
    cursor: pointer;
  }
  
  .node:hover {
    stroke: #000;
    stroke-width: 1.5px;
  }
  
  .node--leaf {
    fill: white;
  }
  
  .label {
    /* font: 24px "Helvetica Neue", Helvetica, Arial, sans-serif; */
    font-size: 24px;
    font-family: "PT Mono", sans-serif;
    fill: whitesmoke;
    text-anchor: middle;
    text-shadow: 0 2px 0 #262626, 2px 0 0 #262626, -2px 0 0 #262626, 0 -2px 0 #262626;
  }

  /* .label:hover {
      opacity: 1 !important;
  } */
  
  /* .label,
  .node--root,
  .node--leaf {
    pointer-events: none;
  } */

  