*, body{
    margin:0;
    padding:0;
}

html, body {
    height: 100%;
    font-family: 'Archivo', sans-serif;
    background-color: #262626;
    color: whitesmoke;
}

#root {
    height: 100%;
}

a {
    color: #c6b497;
}

/* HOME */

#home-container {
    height: 100%;
    
    /* display: flex; */
}

#JOT {
    text-decoration: underline;
}



#home-circle {
    width: 700px;
    height: 700px;
    border-radius: 50%;
    background: linear-gradient(135deg, #cedce7 0%,#596a72 100%);
    position: relative;
    z-index: 3;
    margin-top: -600px;
    margin-left: 600px;
}

#login-circle {
    width: 700px;
    height: 700px;
    border-radius: 50%;
    background: linear-gradient(135deg, #cedce7 0%,#596a72 100%);
    position: relative;
    z-index: 10;
    margin-top: -600px;
    margin-left: 600px;
}

#login-tabs {
    margin-top: 200px !important;
    width: 400px !important;
}

#login-join {
    margin-top: -225px;
    margin-left: 700px;
    font-size: 75px;
    /* color: none;
    text-shadow:
		-1px -1px 0 whitesmoke,
		1px -1px 0 whitesmoke,
		-1px 1px 0 whitesmoke,
        1px 1px 0 whitesmoke; */
    color: lightgray;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #262626;
    position: relative;
    z-index: 8;

}

#welcome-cont {
    margin-top: 250px;
}

.welcome {
    font-size: 90px;
    font-weight: 700;
    color: whitesmoke;
    margin: auto;
    text-align: center;
    z-index: 6;
    position: relative;
    top: -10px;
}

.stroke {
    color: #262626;
    /* -webkit-text-stroke: 0.5px whitesmoke; */
    text-shadow:
		-1px -1px 0 whitesmoke,
		1px -1px 0 whitesmoke,
		-1px 1px 0 whitesmoke,
        1px 1px 0 whitesmoke;
    position: relative;
    z-index: 1 !important;
    
}

.slash {
    margin-top: -550px;
    margin-left: 950px;
    font-size: 300px;
    font-weight: 40;
    z-index: 7;
    position: relative;
    top: -10px;
    transform: scale(0.75, 3);
    font-style: italic;
}

#home-btns {
    font-size: 64px;
    margin: auto;
    margin-top: 100px;
    text-align: center;
    position: relative;
    z-index: 6;
    top: -10px;
    
}

#home-menu {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    /* text-align: right;
    display: inline-block; */
    color: lightslategrey;
    font-family: 'PT Mono', monospace;
    /* font-style: italic; */
    margin-top: -300px;
    font-size: 60px;
    font-weight: 400;
    cursor: pointer;
}

#home-img-cropper {
    width: 500px;
    height: 500px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin-left: -100px;
}

#home-img {
    display: inline;
    margin: 0 auto;
    margin-left: -25%;
    height: 100%;
    width: auto;
    position: absolute;
    z-index: 2;
}

/* DASHBOARD */
#dashboard-h {
    /* font-family: 'Libre Franklin', sans-serif; */
    /* font-family: 'Averia Serif Libre', cursive; */
    /* font-weight: 800; */
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: right;
    display: inline-block;
    font-size: 90px;
    font-weight: 700;
    color: whitesmoke;
    margin: 0 0 500px 0;
}

#dashboard-h2 {
    /* font-family: 'Libre Franklin', sans-serif; */
    /* font-family: 'Averia Serif Libre', cursive; */
    writing-mode: vertical-rl;
    /* transform: rotate(180deg); */
    text-align: right;
    display: inline-block;
    font-size: 120px;
    margin: 0px -20px 50px -20px;
}

#menu {
    min-height: 900px;
}


/* PROFILE */
#profile-header {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: right;
    display: inline-block;
    font-size: 90px;
    font-weight: 700;
    color: whitesmoke;
    /* margin: 0 0 500px 0; */
}

.email-h {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
}

.num-likes-cont {
    background-color: #241667;
    text-align: center;
}

.num-likes {
    font-size: 48px;
    font-style: bold;
}

.num-likes-f {
    font-family: "PT Mono", monospace;
    font-size: 24px;
}

.top-note-cont {
    margin-top: 100px;
}

.top-note-h {
    background-color: #EAE7AF;
    width: 125px;
    color: #262626;
    font-weight: 900;
    font-size: 24px;
    padding: 5px;
    padding-left: 10px;
    margin-left: 25px;
    margin-bottom: -5px;
}

.top-note {
    font-family: "PT Mono", monospace;
    color: #EAE7AF;
    font-size: 20px;
    padding-right: 5px;
}

.top-note-body {
    background-color: #241667;
}

.top-note-img-cropper {
    width: 300px;
    height: 300px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 350px;
}

.top-note-overlay {
    position: relative;
    top: -10px;
    z-index: 3;
    margin-top: -200px;
}


.image-cropper {
    width: 500px;
    height: 500px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin-left: -100px;
}

.top-img {
    display: inline;
    margin: 0 auto;
    margin-left: -25%;
    height: 100%;
    width: auto;
    position: absolute;
    z-index: 2;
}

.top-article-row {
    margin-top: 50px;
}

.article-overlay {
    position: relative;
    top: -10px;
    z-index: 3;
    margin-top: -300px;
}

.top-article {
    background-color: #241667;
    /* display: flex; */
    text-align: right;  
}

.top-article-h {
    background-color: #EAE7AF;
    width: 40%;
    color: #262626;
    font-weight: 900;
    font-size: 24px;
    padding: 5px;
    padding-left: 20px;
    margin-left: 25px;
    margin-bottom: -5px;
}

.top-title {
    font-family: "PT Mono", monospace;
    color: #EAE7AF;
    font-size: 24px;
    padding-right: 5px;
    
}

.stat {
    font-size: 16px;
    border-bottom: #a72693 3px solid;
    width: 60%;
    float: right;
    margin-bottom: 5px;
    color: #EAE7AF;
    padding-right: 5px;
    
}

.top-number {
    font-style: bold;
    font-size: 36px;
    color: #a72693;
    padding-right: 5px;
    
}

/* FRIENDS */
.count {
    font-style: bold;
    font-size: 14px;
    color: whitesmoke;
    border: 1px whitesmoke solid;
    border-radius: 25%;
    padding: 3px;
    margin: 5px;
    text-align: center;
}


/* SEARCH */
#search-bar {
    display: inline-block;
    width: 200px !important;
    margin-right: 10px;
}

.user-search {
    width: 200px !important;
}

.search-i {
    vertical-align: bottom;
}

/* DOC LISTING */
.doc-list {
    z-index: 1;
    position:relative;
}
.doc-listing > a{
    
    color: whitesmoke;
    cursor: pointer;
    padding: 3px; 
    text-decoration: none;
}

.doc-listing {
    margin: 10px 0;
}

div.doc-listing:hover {
    border-bottom: 1px black solid;
}

/* ADD FOLLOWERS */

#add-followers {
    display: inline-block;
    vertical-align: bottom;
}

.add-follower-i {
    margin-left: 10px;
    /* vertical-align: bottom; */
    font-size: 12px;
}

#add-follower-btn {
    margin-top: 16px;
    margin-left: auto;
}

.follower {
    display: inline-block;
    padding-bottom: 1px;
    font-size: 12px !important;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid whitesmoke;
}

/* ARTICLE */

.top-image {
    max-width: 720px;
    margin-top: 8px;
    margin-bottom: 16px;
}


/* TEXT INPUTS */

input[type="text"],
select.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid whitesmoke;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  color: whitesmoke;
  margin-bottom: 5px;
  outline: none;
  outline-style: none;
  padding: 3px 10px;
}

input[type="text"]:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

#add-note-input::-webkit-input-placeholder { 
    color: whitesmoke;
}

/* DOC */

#doc-body {
    margin-bottom: 75px;
}

/* NOTES */
.note {
    border: whitesmoke 2px solid;
    padding: 2px 10px;
    border-radius: 25px;
    position: absolute;
    cursor: pointer;
}

#note-name {
    font-size: 14px;
    font-weight: 900;
}

#timestamp {
    font-size: 10px;
}

#note-body {
    font-family: 'PT Mono', monospace;
}

.note:hover {
    width: 200px;
    padding: 10px 14px;
}

.reply {
    padding: 10px 10px;
    border-radius: 25px;
    cursor: pointer;
    border: 1px solid whitesmoke;
}

#wrapper {
    margin-left: auto !important;
    margin-right: auto !important;
    width: 720px !important;
    min-width: 720px !important;
}

#add-note {
    position: fixed;
    top: 50%;
    transform: translate(-110%, -50%);
}


#joinMsg {
    position: fixed;
    top: 10%;
    left: 50%;
}

.color-selector{
    border-radius: 50px;
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 2px;
    cursor: pointer;
}

.notification {
    position: fixed;
    top: 10%;
    left: 75%;
    width: 20%;
    clear: both;
}

#reply-btn {
    display: inline-block;
    
}

/* LIKE */

#like {
    /* display: inline-block; */
    float: right;
}

/* Search */
.search-results {
    position: absolute;
    width: 95%;
    z-index: 10;
    background-color: #262626;
}

.search-result {
    margin: 8px 0px;
}

.search-author {
    font-style: italic;
    font-size: 14px;
}


    

/* D3 */
.node {
    cursor: pointer;
  }
  
  .node:hover {
    stroke: #000;
    stroke-width: 1.5px;
  }
  
  .node--leaf {
    fill: white;
  }
  
  .label {
    font: 24px "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-anchor: middle;
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
  }

  .label:hover {
      opacity: 1 !important;
  }
  
  /* .label,
  .node--root,
  .node--leaf {
    pointer-events: none;
  } */
