<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <title>Jot</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js" crossorigin></script>
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>

    <!--React Router-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react-router/5.2.0/react-router.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react-router-dom/5.2.0/react-router-dom.min.js"></script>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    
    <div id="content" data-foo={bar}></div>
    <!-- <script> window.user_id = { user_id }; </script> -->
    
    <script src="/static/js/Home.jsx" type="text/jsx"></script>
    <script src="/static/js/Signup.jsx" type="text/jsx"></script>
    <script src="/static/js/Login.jsx" type="text/jsx"></script>
    <script src="/static/js/Dashboard.jsx" type="text/jsx"></script>
    <script src="/static/js/DocList.jsx" type="text/jsx"></script>
    <script src="/static/js/AddDoc.jsx" type="text/jsx"></script>
    <script src="/static/js/Doc.jsx" type="text/jsx"></script>
    <script src="/static/js/AddNote.jsx" type="text/jsx"></script>
    <script src="/static/js/FollowerList.jsx" type="text/jsx"></script>
    <script src="/static/js/AddFollower.jsx" type="text/jsx"></script>
    <script src="/static/js/App.jsx" type="text/jsx"></script>
</head>
<body>
    <!-- <h1>user { user_id }</h1> -->
    <div id="root"></div>
</body>
</html>