<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <title>Jot</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js" crossorigin></script>
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>

     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
     
    <!--React Router-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react-router/5.2.0/react-router.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react-router-dom/5.2.0/react-router-dom.min.js"></script>

    <!-- React Draggable -->
    <script src="https://cdn.jsdelivr.net/npm/react-draggable@4.2.0/web/react-draggable.min.js"></script>
    
    <!-- HTML React Parser -->
    <script src="https://unpkg.com/html-react-parser@latest/dist/html-react-parser.min.js"></script>
    <script>
    window.HTMLReactParser(/* string */);
    </script>

   <!-- Moment -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    
    <!-- ReactBootstrap -->
    <script
    src="https://unpkg.com/react-bootstrap@next/dist/react-bootstrap.min.js"
    crossorigin></script>

    <!-- React-Toastify -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/react-toastify@6.1.0/dist/index.min.js"></script> -->

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.11/css/all.css">

    <!-- Local CSS -->
    <link rel="stylesheet" href="/static/css/styles.css">
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.js"></script> -->
    
    <!-- Socket IO -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    
    <!-- React Components -->
    <script src="/static/js/Variables.jsx" type="text/jsx"></script>
    <script src="/static/js/WindowDim.jsx" type="text/jsx"></script>
    
    <script src="/static/js/Home.jsx" type="text/jsx"></script>
    <script src="/static/js/Signup.jsx" type="text/jsx"></script>
    <script src="/static/js/Login.jsx" type="text/jsx"></script>
    <script src="/static/js/NotificationList.jsx" type="text/jsx"></script>
    <script src="/static/js/Notification.jsx" type="text/jsx"></script>
    <script src="/static/js/Dashboard.jsx" type="text/jsx"></script>
    <script src="/static/js/DocList.jsx" type="text/jsx"></script>
    <script src="/static/js/InvitationList.jsx" type="text/jsx"></script>
    <script src="/static/js/Invitation.jsx" type="text/jsx"></script>
    <script src="/static/js/AddDoc.jsx" type="text/jsx"></script>
    <script src="/static/js/Doc.jsx" type="text/jsx"></script>
    <script src="/static/js/NoteList.jsx" type="text/jsx"></script>
    <script src="/static/js/Note.jsx" type="text/jsx"></script>
    <script src="/static/js/AddNote.jsx" type="text/jsx"></script>
    <script src="/static/js/FollowerList.jsx" type="text/jsx"></script>
    <script src="/static/js/AddFollower.jsx" type="text/jsx"></script>
    <script src="/static/js/App.jsx" type="text/jsx"></script>
</head>

<body>
    <div id="root"></div>
</body>

</html>